/* Global styling */

html, body {
    margin-left: 10px;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #f5f5f5;
    height: 100%;
}

/* The highest-level container for the flexboxes. */
#mxflexContainer {
    display: flex;
    height: 90%;
}

/* The two main left/right divs and their flex styling. */
#graphContainer {
    flex: 3 0 0;
    background-color: beige;
    border: 1px solid black;
    margin-right: 20px;
    margin-bottom: 20px;
}

#tabContainer {
    flex: 2 0 auto;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 20px;
}

/* These elements handle displaying the right hand side tabs, the buttons, and their content */
.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}

.tabs button:hover {
    background-color: #ddd;
}

.tabs button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    flex-flow: column;
    padding: 6px 12px;
    border-top: none;
}

/* These elements handle displaying the list elements in the textual view */
#textual_cells_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', monospace;
}

#textual_cells_list > li {
    padding: 0.5rem 1rem;
}

#textual_cells_list > li:nth-child(odd) {
    background: #efefef;
}

/* These elements handle displaying the attribute elements in the attribute navigator */
.attrContent {
    padding-bottom: 10px;
    border-bottom: 1px solid #888;
    flex-grow : 1;
    display: block;
}

#attributeCellForm {
    font-family: 'Courier New', monospace;
}

.headerInfo {
    display: inline;
}

#curgroup {
    padding-left: 10px;
    color: grey;
}