/* Global styling */

html, body {
    margin-left: 10px;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #f5f5f5;
    height: 100%;
}

#mxflexContainer {
    display: flex;
    height: 90%;
}

#graphContainer {
    flex: 3 0 0;
    background-color: beige;
    border: 1px solid black;
    margin-right: 20px;
}

#tabContainer {
    flex: 2 0 auto;
    background-color: white;
    border: 1px solid black;
}

.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}

.tabs button:hover {
    background-color: #ddd;
}

.tabs button.active {
    background-color: #ccc;
}

.tabcontent {
    flex-flow: column;
    height: 100%;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#textual_cells_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', monospace;
}

#textual_cells_list > li {
    padding: 0.5rem 1rem;
}

#textual_cells_list > li:nth-child(odd) {
    background: #efefef;
}